/* 全局样式 */
body {margin:0 auto;padding:0;font-size:12px;font-family:"Microsoft Yahei","Simsun";text-align:center;background:#FFF;color:#444}
div {text-align:left; margin:0 auto; padding:0}
a:link,a:visited,a:active{color:#313131;text-decoration: none;outline:none}
a:hover{color:#4486f4;text-decoration:underline}
img{border:0px}
form,input,h1,h2,h3,h4,h5,h6,p,ul,dl,dt,dd{margin:0;padding:0;outline:none;font-weight:normal;}
ul,dl{margin:0;padding:0;list-style-type:none}
cite,em,strong,i{font-style: normal}
.jiange{margin-top:50px}
.mclear{clear:both}
.zih{color:#fe0002}
.ziv{color:#009900}
/* 三角 */
.triangle_top_left,
.triangle_top_right,
.triangle_bottom_left,
.triangle_bottom_right,
.triangle_bottom,
.triangle_right,
.triangle_arrow{position:absolute;width:0;height:0;border-width:10px;border-style:solid;}
/* tit */
.tit{height:40px;line-height:40px;color:#000;font-size:18px;font-weight:600;}
.tit .m{padding-left:10px;font-size:14px;font-weight:normal;color:#4486f4;}
/* topic_nav_box */
#topic_nav_box{width:100%;min-width:1200px;height:35px;background:#B71E22;z-index:99999}
#topic_nav{width:1200px;height:34px;color:#efbbbb}
#topic_nav a{color:#efbbbb}
#topic_nav a:hover{color:#fff;text-decoration:none;}
#topic_nav .fl{float:left;width:450px;height:34px;line-height:34px;}
#topic_nav .fl a{float:left;display:block;padding:0 7px;height:34px;line-height:34px;}
#topic_nav .fr{float:right;width:500px;height:34px;line-height:34px;padding:0 10px 0 0;text-align:right}
#topic_nav .fr a{float:right;display:block;padding:0 7px;height:34px;line-height:34px;}
/* topic_nav_box 放上去 显示微信图*/
#topic_nav .fl .wxbtn{float:left;position:relative;display:block;padding:0 7px;height:34px;line-height:34px;}
#topic_nav .fl .wxbtn .erweima{display:none;position:absolute;left:-55px;top:19px;padding-top:15px;width:170px;height:170px;overflow:hidden;z-index:99999;}
#topic_nav .fl .wxbtn .erweima .wxpic{padding:10px;width:150px;height:150px;overflow:hidden;text-indent:-9999px;background:url(../images/wxlxcf.png) no-repeat 10px 10px #fff;}
#topic_nav .fl .wxbtn .erweima .downapp{padding:10px;width:150px;height:150px;overflow:hidden;text-indent:-9999px;background:url(../images/down_app.png) no-repeat 10px 10px #fff;}
#topic_nav .fl .wxbtn .erweima .triangle_bottom{top:-5px;left:75px;border-color:transparent transparent #fff transparent;}
#topic_nav .fl .over .erweima{display:block;}
/* header */
.header{width:100%;min-width:1200px;height:36px;background:#f8f8f8;}
.header_nei{position:relative;width:1200px;height:106px}
.logo{float:left;width:300px;height:70px;padding:18px 0 18px 18px}
.sou_tab{float:right;position:relative;width:550px;height:36px;padding:35px 0 0 0;}
.cisou_body{width:550px;height:36px;background:url(../images/no_repeat.png) no-repeat 0 0}
.cisou_body .sinput{float:left;padding:8px 0 8px 5px;width:485px;height:20px;line-height:20px;border:0;background:none;color:#727171;font-size:14px}
.cisou_body .ssubmit{float:left;width:60px;height:36px;border:0;background:none;cursor:pointer;overflow:hidden;text-indent:-9999px;}
/*  搜索股票 */
.suggest{position:absolute;left:0px;top:70px;z-index:99;}
.suggest_content{ padding:5px;background:#fff; border:1px solid #e7e7e7;width:230px;background:#fafafa; }
.suggest_list li{cursor:pointer;padding:0;width:100%;height:30px;line-height:30px;overflow:hidden;border-bottom:1px dotted #e7e7e7;}
.suggest_list li span{ display:block;padding:0;float:left;width:50%;text-align:center;font-size:14px;}
/* 导航 */
.navigation{position:relative;float:left;margin-top:52px;width:300px;height:54px;}
.navigation .nav_dq{position:absolute;top:0;left:0;width:100px;height:50px;border-bottom:4px solid #DE292E;}
.navigation ul{position:absolute;top:0;left:0;width:900px;height:54px;overflow:hidden;}
.navigation li{float:left;width:100px;height:54px;font-size:16px;}
.navigation li a{display:block;width:100px;height:54px;line-height:54px;text-align:center;color:#3e3e3e;}
.navigation li a:hover,
.navigation li a.here{color:#DE292E;text-decoration:none;}
/* 主体 */
.main{width:1200px;padding-bottom:20px;}
.main_left{float:left;width:800px;padding-right:50px;}
.main_right{float:left;width:350px;}
/* 广告 */
.gg{padding-top:40px;}
.hfgg{padding-top:20px;width:1200px;}
/* 主体 股票数据 */
.stock_data{margin-top:40px;border:1px solid #e7e7e7;padding:30px 10px 30px 30px;}
.stock_data_left{float:left;width:160px;text-align:center;}
.stock_data_left .name{height:40px;line-height:40px;font-size:36px;}
.stock_data_left .code{padding-top:10px;line-height:30px;font-size:24px;color:#949494;}
.stock_data_left .zixuan{padding-top:10px;height:38px;}
.stock_data_left .zixuan a.add{display:block;width:160px;height:38px;line-height:38px;font-size:18px;cursor:pointer;background:#e94b4b;color:#fff;}
.stock_data_left .zixuan a.add:hover{background:#F26666;text-decoration:none;}
.stock_data_left .zixuan a.del{display:block;width:160px;height:38px;line-height:38px;font-size:18px;cursor:pointer;background:#f8f8f8;color:#444;}
.stock_data_left .zixuan a.del:hover{background:#e7e7e7;text-decoration:none;}
.stock_data_right{float:left;padding-left:28px;width:570px;}
.stock_data_right .price{padding:0 0 10px 20px;height:40px;line-height:40px;font-size:18px;}
.stock_data_right .price span{padding-right:40px;}
.stock_data_right .price span.s1{font-size:36px;}
.stock_data_right .info{font-size:14px;}
.stock_data_right .info ul{width:100%;overflow:hidden;}
.stock_data_right .info li{float:left;width:25%;height:30px;line-height:30px;color:#444;}
.stock_data_right .info li span{float:left;display:inline-block;padding-right:5px;width:70px;text-align:right;color:#8f8f8f;}
/* 主体 k线滑动门 */
.kline_tab{padding-top:40px;}
.kline_head{position:relative;height:39px;border-bottom:1px solid #e7e7e7;}
.kline_head ul{position:absolute;left:0;top:0;width:560px;overflow:hidden;}
.kline_head li{float:left;margin-right:10px;width:100px;height:38px;line-height:38px;text-align:center;cursor:pointer;font-size:16px;color:#444;border:1px solid #e7e7e7;background:#f8f8f8}
.kline_head li.on{color:#e94b4b;background:#fff;font-weight:bold;border-bottom-color:#fff;background:#fff;}
.kline_head li.on a{color:#e94b4b;}
.kline_body{padding-top:10px;}
.kline_body .bdnei{display:none;}
/* 主体 问股观点等滑动门 */
.news_tab{padding:40px 0;}
.news_head{position:relative;height:39px;border-bottom:1px solid #e7e7e7;}
.news_head ul{position:absolute;left:0;top:0;width:784px;overflow:hidden;}
.news_head li{float:left;margin-right:10px;width:100px;height:38px;line-height:38px;text-align:center;cursor:pointer;font-size:16px;color:#444;border:1px solid #e7e7e7;background:#f8f8f8}
.news_head li.on{color:#e94b4b;background:#fff;font-weight:bold;border-bottom-color:#fff;}
.news_head li.on a{color:#e94b4b;}
.news_body{padding-top:10px;}
.news_body .bdnei{display:none;}
/* 主体 问股观点等滑动门 观点问股 */
.news_body dl{position:relative;padding:25px 0 25px 140px;min-height:100px;border-bottom:1px solid #e7e7e7;}
.news_body dt{padding-bottom:15px;height:22px;line-height:22px;font-size:18px;}
.news_body dt a.askstock{margin-left:10px;padding:3px 10px;line-height:14px;border:1px solid #e7e7e7;font-size:12px;}
.news_body dt a.askstock:hover{color:#FDA3A3;border-color:#FDA3A3;text-decoration:none;}
.news_body dt .pic{position:absolute;left:0px;top:25px;width:100px;height:100px;}
.news_body dt .time{float:right;color:#989898;font-size:12px;}
.news_body dd{padding:6px 0;}
.news_body dd .p{line-height:180%;font-size:14px;color:#000;word-wrap:break-word;}
.news_body dd .askp1{text-indent:26px;color:#888;background:url(../images/wengu_q.png) no-repeat 0 3px;}
.news_body dd .askp2{text-indent:26px;margin-top:6px;background:url(../images/wengu_a.png) no-repeat 0 3px;}
.news_body dd .p p{margin-bottom:10px;}
.news_body dd .p a.gu{margin:0 5px;color:#5b9fe2;font-weight:bold;cursor:pointer;border-bottom:1px dotted #5b9fe2;}
.news_body dd .p a.gu:hover{text-decoration:none;}
.news_body dd .p img{display:none;vertical-align:middle;}/* 表情 */
.news_body dd .fimg{float:left;margin:0 10px 0 0;width:210px;}
.news_body dd .fimg img{display:block;float:left;margin-top:6px;width:200px;border:5px solid #e7e7e7;cursor:pointer;}
/* 主体 问股观点等滑动门 新闻 公告 研报 列表 */
.news_body .list ul{padding:15px 0;width:100%;overflow:hidden;}
.news_body .list li{padding-left:15px;height:35px;line-height:35px;overflow:hidden;font-size:14px;background:url(../images/about_dot_bg.gif) no-repeat 5px -30px;}
.news_body .list li a.biti{padding:0 15px 0 5px;background:#FFF;color:#7a7a7a;}
.news_body .list li span{float:right;padding:0 10px 0 5px;background:#FFF;color:#B7B4B3;font-size:12px;}
.news_body .list li.fenkai{background:#FFF;text-align:center;color:#DADADA;font-size:14px}
.news_body .more{margin-top:10px;height:30px;line-height:30px;font-size:14px;text-align:center}
.news_body .more a{display:block;margin:0 auto;width:30%;height:30px;line-height:30px;background:#d7000f;color:#fff;border-radius:5px;}
.news_body .more a:hover{background:#e1404b;text-decoration:none;}
/* 主体 问股观点等滑动门 公司概况 */
.news_body .info h2{padding-top:15px;line-height:40px;font-size:18px;}
.news_body .info h3{padding-top:5px;line-height:40px;font-size:18px;text-align:center;}
.news_body .info ul{padding:15px 0;width:100%;overflow:hidden;}
.news_body .info li{float:left;width:50%;height:30px;line-height:30px;color:#444;font-size:14px;}
.news_body .info li span{float:left;display:inline-block;width:140px;color:#8f8f8f;}
.news_body .info li em{float:left;display:inline-block;width:80px;color:#8f8f8f;}
.news_body .info .cont{position:relative;padding-left:140px;min-height:30px;line-height:30px;font-size:14px;text-align:left;}
.news_body .info .cont span{position:absolute;top:0;left:0;display:inline-block;width:140px;line-height:30px;color:#8f8f8f;}
/* 资金流向  柱形图 */
.bar_box{width:360px;overflow:hidden;}
.bar_out{float:left;position:relative;margin-top:20px;margin-bottom:40px;padding:0 20px;width:50px;height:60px;border-bottom:1px solid #737373;}
.bar_out_height{height:300px;}
.bar_out .bar{position:absolute;bottom:0;left:20px;width:50px;}
.bar_out .bar span{position:absolute;top:-20px;left:-20px;width:90px;height:20px;line-height:20px;text-align:center;}
.bar_out .bar_h{background:#D54340;}
.bar_out .bar_v{background:#62AE68;}
.bar_out .bar_wzi{position:absolute;bottom:-40px;left:0;width:90px;height:40px;line-height:20px;text-align:center;}
/* 分页*/
.page_new{padding:20px 0;height:31px;line-height:25px;text-align:center;}
.page_new a{background:#f8f8f8;border:1px solid #f8f8f8;margin:0 5px;padding:2px 10px;color:#333;display:inline-block;}
.page_new a:hover{background:#e94b4b;border:1px solid #e94b4b;color:#fff}
.page_new strong{background:#e94b4b;border:1px solid #e94b4b;margin:0 2px;padding:2px 10px;color:#fff;display:inline-block;}
/* 正文 位置 */
.weizhi{margin-top:20px;height:40px;line-height:40px;font-size:14px;font-family:Verdana,Arial,Helvetica,sans-serif;}
.weizhi span{padding:0 10px;color:#999;}
/* 新闻正文 */
.article{margin-bottom:40px;padding:10px 0;background:#fff;}
.article .biti{padding:10px 0;line-height:30px;font-size:20px;font-weight:600;text-align:center;}
.article .time{padding-bottom:6px;height:30px;line-height:30px;overflow:hidden;font-size:12px;text-align:center;border-bottom:1px solid #e7e7e7;color:#999;}
.article .time a{color:#4384c4;}
.article .time i{padding:0 10px;}
.article .content{padding:10px 0;line-height:180%;font-size:16px;text-align:left;overflow-x:hidden;}
.article .content p{margin:0;padding:15px 5px;}
.article .content p.publishdate{padding:0;text-align:center;font-size:12px;color:#999}
.article .content img{display:block;margin:6px auto;max-width:700px;height:auto;}
a.down_pdf{margin:20px auto;display:block;width:200px;height:32px;line-height:32px;text-align:center;background:#d7000f;border-radius:5px;color:#fff;font-size:14px;}
a.down_pdf:hover{background:#e1404b;text-decoration:none;}
.wen_bottom{padding:20px 0;text-align:center;}
/* 新闻列表 */
.news_list{padding-top:40px;}
.news_list .tit{border-bottom:1px solid #e7e7e7;}
.news_list ul{padding:15px 0}
.news_list li{margin-top:10px;height:25px;line-height:25px;overflow:hidden;font-size:14px;background:url(../images/about_dot_bg.gif) no-repeat 0 -60px;}
.news_list li em{float:left;width:70px;padding:0 5px 0 0;text-align:right;background:#FFF;color:#F0383D}
.news_list li em a{color:#F0383D}
.news_list li cite{padding:0 3px 0 5px;background:#FFF}
.news_list li span{float:right;padding:0 5px;background:#FFF;color:#666;font-size:12px}
.news_list li.fenkai{background:#FFF;text-align:center;color:#DADADA;font-size:14px}
/* 右 相关新闻 */
.related{padding-top:40px;}
.related li{padding-left:15px;height:35px;line-height:35px;overflow:hidden;font-size:14px;background:url(../images/about_dot_bg.gif) no-repeat 5px -30px;}
.related li a.biti{padding:0 15px 0 5px;background:#FFF;color:#7a7a7a;}
.related li span{float:right;padding:0 5px;background:#FFF;color:#B7B4B3;font-size:12px;}
/* 右 我的自选 行业涨幅榜 */
.tabout{padding-top:40px;font-size:14px;}
.tabout table{margin-top:10px;table-layout:fixed;}
.tabout th{padding-bottom:6px;line-height:30px;font-weight:normal;border-bottom:1px solid #e7e7e7;color:#919191;}
.tabout td{padding:10px 0;}
.tabout th a,.tabout td a{color:#5b9fe2;}
.tabout td a.del{color:#B7B3B2;font-size:16px;font-family:simsun;}
.tabout td a.del:hover{text-decoration:none;color:#fe0002}
.tabout td a.add{padding:3px 10px;border:1px solid #5b9fe2;color:#5b9fe2;font-size:12px;}
.tabout td a.add:hover{color:#FDA3A3;border-color:#FDA3A3;text-decoration:none;}
.tabout tr:hover td{background:#f8f8f8}
/* 右 实时行情 */
.market{padding-top:40px;}
.market li{background:#fff;border-bottom:1px solid #e7e7e7;}
.market li a:hover{text-decoration:none;color:#444}
.market li h2{height:45px;line-height:45px;overflow:hidden;font-size:16px;font-weight:normal;}
.market li h2 font{float:right;width:70px;text-align:right;overflow:hidden;font-size:14px;}
.market li .p{display:none;padding:0;width:350px;height:200px;line-height:25px;overflow:hidden;color:#8f8f8f;text-align:center}
.market li .p img{width:350px;height:200px;}
.market .wmbor{background:#fff}
.market .wmbor h2{color:#444;}
.market .wmbor .p{display:block;}
/* 右 个股涨幅榜 */
.stock_tab{padding-top:40px;}
.stock_head{position:relative;margin-top:10px;height:39px;border-bottom:1px solid #e7e7e7;}
.stock_head ul{position:absolute;left:0;top:0;width:310px;overflow:hidden;}
.stock_head li{float:left;margin-right:10px;width:50px;height:38px;line-height:38px;text-align:center;cursor:pointer;font-size:14px;color:#444;border:1px solid #e7e7e7;background:#f8f8f8}
.stock_head li.on{color:#e94b4b;background:#fff;font-weight:bold;border-bottom-color:#fff;background:#fff;}
.stock_head li.on a{color:#e94b4b;}
.stock_body{background:#fff;}
.stock_body li{display:none;font-size:14px;}
.stock_body li table{margin-top:10px;width:100%;table-layout:fixed;}
.stock_body li th{padding-bottom:6px;line-height:30px;font-weight:normal;border-bottom:1px solid #e7e7e7;color:#919191;}
.stock_body li td{padding:10px 0;}
.stock_body li td a{color:#5b9fe2;}
.stock_body li td a.del{color:#B7B3B2;font-size:16px;font-family:simsun;}
.stock_body li td a.del:hover{text-decoration:none;color:#fe0002}
.stock_body li td a.add{padding:3px 10px;border:1px solid #5b9fe2;color:#5b9fe2;font-size:12px;}
.stock_body li td a.add:hover{color:#FDA3A3;border-color:#FDA3A3;text-decoration:none;}
.stock_body li tr:hover td{background:#f8f8f8}
/* 尾部 */
.footer{clear:both;width:100%;min-width:1200px;background:#2A2E31;border-top:3px solid #B71E22;overflow:hidden}
.footer_nei{padding:20px 0;text-align:center;color:#666;line-height:25px}
.footer_nei a:link,.footer_nei a:visited,.footer_nei a:active{color:#999;padding:0 10px}
.footer_nei a:hover{color:#ff7300}
.footer_rz{margin:0 auto;padding-bottom:20px;width:288px;height:47px;overflow:hidden;text-align:center}
.footer_rz a{float:left;display:inline-block;padding:0 10px;width:124px;height:47px;overflow:hidden}
/* 屏幕底部快捷 */
#shortcutbox{display:block;width:50px;height:170px;right:10px;position:fixed;bottom:10px;_position:absolute;_top:expression(document.documentElement.clientHeight + document.documentElement.scrollTop - this.offsetHeight - 10 + 'px');}
.shortcut{position:relative;display:block;width:50px;height:170px;}
.shortcut a{position:absolute;right:0;display:block;width:50px;height:50px;cursor:pointer;text-indent:-9999px;overflow:hidden;background:url(../images/shortcut.png) no-repeat 0 0;}
a.gototop{display:none;bottom:0;background-position:0 0}
a.gototop:hover{background-position:0 -50px}
a.gotobottom{bottom:0;background-position:-50px 0}
a.gotobottom:hover{background-position:-50px -50px}
a.feedback{bottom:120px;background-position:-150px 0}
a.feedback:hover{background-position:-150px -50px}
a.wxgf{bottom:60px;background-position:-100px 0}
a.wxgf:hover{background-position:-100px -50px}
.smweixin{display:none;padding:3px 17px 11px 11px;width:150px;height:176px;background:url(../images/no_repeat.png) no-repeat -210px -40px;right:60px;position:fixed;bottom:10px;_position:absolute;_top:expression(document.documentElement.clientHeight + document.documentElement.scrollTop - this.offsetHeight - 10 + 'px');}
.smweixin span{display:inline-block;padding-bottom:150px;width:150px;height:26px;line-height:26px;text-align:center;font-size:14px;background:url(../images/wxlxcf.png) no-repeat 0 26px #fff;}
/* 股票信息提示 */
.stockInfoBox{position:absolute;top:34px;left:30px;padding:4px;width:402px;background:rgba(6,6,6,0.1);z-index:999;}
.stockInfo{display:block;padding:10px;width:380px;border:1px solid #9eaab9;line-height:33px;font-size:16px;font-weight:normal;background:#fff;color:#444;}
.stockInfo h2{padding:5px;height:38px;line-height:38px;}
.stockInfo h2 span{padding:0 5px;font-weight:normal;}
.stockInfo h2 a.add{float:right;display:inline-block;width:100px;height:38px;line-height:38px;text-align:center;font-size:18px;cursor:pointer;background:#e94b4b;color:#fff;}
.stockInfo h2 a.add:hover{background:#F26666;text-decoration:none;}
.stockInfo .price{padding:0 5px;height:30px;line-height:30px;font-size:14px;}
.stockInfo .price span{padding-right:20px;}
.stockInfo img{display:block;margin:0 auto;}
.stockInfoBox .triangle_arrow{top:-15px;left:30px;border-color:transparent transparent #9EAAB9 transparent;}
.stockInfoBox .triangle_bottom{top:-14px;left:30px;border-color:transparent transparent #fff transparent;}
/* 没数据提示 */
.noshuju{padding:20px;background:#f8f8f8;}
.noshuju .zi{position:relative;padding:0 20px;height:40px;line-height:40px;font-size:14px;text-align:center;}
.noshuju .zi a{color:#e94b4b;padding:0 5px;}
.noshuju .triangle_arrow{display:none;bottom:0px;left:-10px;border-color:transparent #CACACA #CACACA transparent;border-width:5px;}
.container{
	
	text-align: center;
    color: #EF1616;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.cisou_body{
	width: 300px;
    height: 36px;
}

.cisou_body .sinput{
	font-size: 20px;
    height: 85%;
}